<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1>Assigned Meal</h1>
      <% if @meal %>
        <h3><%= @meal.meal_type.capitalize %></h3>
        <p>Assigned at <%= @meal.meal_availability.availability_for %></p>
      <% else %>
        <h3>Not assigned</h3>
      <% end %>
    </div>
  </div>
</div>