<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to food for the heart</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <%= link_to 'Login', new_user_session_path %>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-5">
      Assign Meals
    </div>
  </div>
</div>