<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome to food for the heart</h1>
    <p>We assign you food from the bottom of our heart, according to your likings.</p>
    <p>
      <%= link_to('Login', new_user_session_path, :class => 'btn btn-primary btn-lg') %>
      <%= link_to('Assign Meals', new_user_session_path, :class => 'btn btn-primary btn-lg') %>
    </p>
  </div>
</div>