<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome <%= current_user.email %></h1>
    <p>Here, please tell us what you like!</p>
    <p>
      <%= link_to('Meal Preference', preference_new_user_path(current_user.id), :class => 'btn btn-primary btn-lg') %>
      <%= link_to('Meal for the day', root_path, :class => 'btn btn-primary btn-lg') %>
    </p>
  </div>
</div>